@import "title";
@import "description";
@import "services";
@import "bb";
@import "clients";

body {
  margin: 0;
}

#bb, #clients, #services, #description {
  height: 100vh;
}

// This is the basic layout for the admin dashboard
.container-admin {
  padding: 5vw;
}

.forms-update {
  margin-bottom: 50px;

  .input {
    margin-bottom: 10px;
  }

.new-client {
  margin-right: 100px;
}

  a {
  text-decoration: underline;
  color: red;
  }
}

h5 {
  font-size: 25px;
}

.clients-crud {
  display: flex;
}
