@import "title";
@import "description";
@import "services";
@import "bb";
@import "clients";

// html {
//   scroll-behavior: smooth;
// }

body {
  margin: 0;
}

#bb, #clients, #services, #description {
  height: 100vh;
}

// This is the basic layout for the admin dashboard
.container-admin {
  padding: 5vw;
}
