<div id="contacts">
    <div id="infos">
    <h2>Contacts</h2>
      <p>
      Bastien Braconnier <br>
      +32 (0) 495 34 12 90 <br>
      bastien@braconnierbeaufays.com <br>
      braconnierbeaufays.com <br>
      </p>
      <p>
      ChloeÌ Beaufays<br>
      +32 (0) 497 66 53 39<br>
      chloe@braconnierbeaufays.com<br>
      braconnierbeaufays.com<br>
      </p>
    </div>
    <div id="logo">
      <h1>BB</h1>
    </div>
  </div>
