<div id="services">
    <ul>
      <h2>Services</h2>
      <li>
        Stratégie de communication
      </li>
      <li>
        Stratégie digitale
      </li>
      <li>
        Relations publiques
      </li>
      <li>
        Community management
      </li>
      <li>
        Social live
      </li>
    </ul>
    <div id="colored-block">
      <%= image_tag("hands_white.png", id: "hands")  %>
    </div>
  </div>
