<div class="first">
  <nav>
    <a href="#description">description</a> / <a href="#services">services</a> / <a href="#clients">clients</a> / <a href="#contacts">contact</a>
  </nav>
  <div id="title">
    <div class="names">
      <h1>Braconnier</h1>
      <h3 id="bastien">Bastien</h3>
    </div>
    <div class="names">
      <h1 class="blue-font">Beaufays</h1>
      <h3 id="chloe" class="blue-font">Chloé</h3>
    </div>
  </div>
  <div class="first-down"><div class="arrow-down"></div></div>
</div>
